extends layout

block content
  .inner
    h2= title
    .map
      .autocomplete
        input.autocomplete__input(type="t ext" placeholder="Search for anything" name="geolocate")
      #map
        p Loading Map...
