mixin forgotForm()
    form.form(aciton="/account/forgot", method="POST")
        h2 Forgot password?
        label(for="email") Email
        input(type="email" name="email")
        input.button(type="submit" value="Send a Reset")
